* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Anurati"; */
}

#root{
    display: grid;
    grid-template-columns: 8fr 4fr;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
table{
    align-self: start;
} 