* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Anurati"; */
}

#root {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
}


table {
    align-self: start;
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid black;
    
}

td,
th
 {
    padding: 10px;
    align-items: center;
    /* vertical-align: ; */
    text-align: center;
}


input ,select, button {
    margin-bottom: 10px;
}


#form {
    display: flex;
    flex-direction: column;
}
